/* CustomerTestimonials.css */

/* Hide arrow slider */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Custom style for slick dots */
.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Custom dot style */
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots li button {
  background-color: transparent;
  border: none;
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Custom dot active style */
.slick-dots li.slick-active button {
  background-color: #FFD700;
}

/* Animation effect for slides */
.slick-slide {
  transition: transform 0.5s ease;
}

/* Animation effect when moving to different content */
.slick-slide.slick-active {
  transform: scale(1.1);
}
